<!DOCTYPE html>
<html>
  <head>
    <title>DanceApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>

    <%= javascript_include_tag 'application' %>
  </head>

  <body>

    <nav>
      <ul>
        <% if user_signed_in? %>
          <li><%= link_to 'Sign Out', '#' %></li>
        <% else %>
          <li><%= link_to 'Sign In', new_user_session_path %></li>
          <li><%= link_to 'Sign Up', new_user_registration_path %></li>
        <% end %>
      </ul>
    </nav>

    <!-- <div class="view hm-black-strong">
        <div class="full-bg-img flex-center">
            <ul>
                <li>
                    <h1 class="h1-responsive wow fadeInDown splash"><i class="fa fa-2x fa-bolt" aria-hidden="true"></i> s h i m m y </h1>
                </li>
                <li>
                    <p class="wow fadeInDown splash" data-wow-delay="0.2s">let's dance, philly</p>
                </li>
            </ul>
        </div>
    </div> -->

    <% flash.each do |key, value| %>
      <%= value %>
    <% end %>

    <%= yield %>
  </body>
</html>
